.button-more {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-more__icon {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #a0a9b2;
}

.button-more__icon::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #a0a9b2;
}

.button-more__icon::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0px;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #a0a9b2;
}
